
.slideItem:hover{
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 3px;
}

.button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.slideLoginButton:hover{
    -fx-border-color: white;
    -fx-border-width: 0px 0px 3px 0px;
}

.buttonCar{
    -fx-background-color: #7d8597;
}
.menuCar:hover{
    -fx-background-color: #3d5683;
}


