
.button{
    -fx-background-color:  #001233;
}

.button:hover{
    -fx-background-color: #000245;
}


.table-view .column-header,
.table-view .column-header-background .filler{
    -fx-cell-size: 20;
    -fx-background-color:  #AB27A8;
}

.table-view .column-header .label{
    -fx-text-fill:  #c9c1c1;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: #ff3852; 
}
.minimice{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.minimice:hover{
    -fx-background-color: #9c9c9c;   
}
.btn:hover{
    -fx-cursor: hand;
    -fx-background-color: #ce4646;
}
.reportButton:hover{
    -fx-background-color: #717E99;
}

.paneCar{
    -fx-background-color: linear-gradient(to bottom right,  #062052 , #7d8597 );
}
.paneTourist{
    -fx-background-color: linear-gradient(to bottom right,  #062052 , #0b65be );
}
.paneDriver{
    -fx-background-color: linear-gradient(to bottom right,  #062052 , #0054F2);
}
.paneContract{
    -fx-background-color: linear-gradient(to bottom right,  #062052 ,  #708d81 );
}
.paneUser{
    -fx-background-color: linear-gradient(to bottom right,  #062052 , #34679b );
}
.paneDashboard{
    -fx-background-color: linear-gradient(to bottom right,  #062052 , #0b65be );
}



